
*{
  font-family: Sen;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./components/flash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
  background-position: center;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4c255;
  border: 1px solid black;
  box-shadow: 10px 10px	 15px black;
  padding: 20px;
}

.formulario label{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

.formulario .inputTempo {
  width: 50px !important;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

.formulario .inputDistancia {
  width: 50px !important;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 15px;
  text-align: center;
}

.resultadoButton{
  margin-top: 20px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
}

.formulario .botaoConv{
  color:black;
  font-weight: 900;
  background-color: rgba(255, 175, 28, 0.705);
}
.formulario .botaoConv:hover{
  background-color: rgb(255, 103, 2);
 
}
.considere{
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 10px;
}
.titulo{
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 800px) {
  .formulario .inputTempo,
  .formulario .inputDistancia {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-weight: 900;
  }
  body{
    background-position: center;
  }
}

@media only screen and (max-width: 750px ) {
  .container {
    padding: 10px;
    text-align: center;
  }
  .container label{
    margin-top: 10px;
    text-align: center;
  }
  .formulario .botaoConv {
    font-size: 14px;
    text-align: center;
  }
}